Makefile
Makefile.in
.deps
*.rc
chocolate-doom
chocolate-heretic
chocolate-hexen
chocolate-server
chocolate-strife
chocolate-doom-setup
chocolate-heretic-setup
chocolate-hexen-setup
chocolate-strife-setup
chocolate-setup
restful-doom
restful-doom-setup
restful-setup
massif.*
callgrind.*
core
*.exe
*.desktop
*.appdata.xml
tags
TAGS
